# Eclipse
.classpath
.project
.settings/
.metadata/
.recommenders/
Serviers/

# Intellij
target/
.idea/
*.iml
*.iws
**/out

# Mac
.DS_Store

# Maven
**/log/
**/target
**/*.log
**/tmp
**/.tmp
**/bin/**
**/overlays

# jrebel
**/.rebel-remote.xml
**/.rebel.xml


# vscode
.vscode/

#忽略以下文件
#src/main/resources/logback.xml